absl-py
argon2-cffi
astunparse
async-generator
attrs
backcall
beautifulsoup4
bleach
bs4
cachetools
# cchardet  #*
certifi
cffi
# chardet #*
click
colorama
contextvars
cycler
# dataclasses
decorator
defusedxml
dnspython
entrypoints
fake-useragent
fastprogress
filelock
Flask
Flask-Cors
gast
google-auth
google-auth-oauthlib
google-pasta
googletrans
grpcio
h11
h2
h5py
hpack
hstspreload
httpcore
httpx
hyperframe
idna
immutables
importlib-metadata
ipykernel
ipython
ipython-genutils
ipywidgets
itsdangerous
jedi
jieba
Jinja2
joblib
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
jupyterlab-pygments
jupyterlab-widgets
Keras
keras-bert
keras-embed-sim
keras-layer-normalization
keras-multi-head
keras-pos-embd
keras-position-wise-feed-forward
Keras-Preprocessing
keras-self-attention
keras-transformer
kiwisolver
ktrain
langdetect
Markdown
MarkupSafe
matplotlib
mistune
nbclient
nbconvert
nbformat
nest-asyncio
networkx
nltk
notebook
numpy
oauthlib
opt-einsum
packaging
pandas
pandocfilters
parso
pickleshare
Pillow
prometheus-client
prompt-toolkit
protobuf
pyasn1
pyasn1-modules
pycparser
Pygments
pymongo
pyparsing
pyrsistent
python-dateutil
pytz
pydantic-settings
# pywin32
# pywinpty
PyYAML
pyzmq
qtconsole
QtPy
rake-nltk
regex
requests
requests-oauthlib
rfc3986
rsa
sacremoses
scikit-learn
scipy
Send2Trash
sentencepiece
seqeval
six
scikit-learn
sniffio
soupsieve
syntok
tensorboard
tensorboard-plugin-wit
# tensorflow[and-cuda]
# tensorflow-gpu-estimator
tensorflow-hub
termcolor
terminado
testpath
testresources
threadpoolctl
tokenizers
tornado
tqdm
traitlets
transformers
typing-extensions
urllib3
wcwidth
webencodings
Werkzeug
Whoosh
widgetsnbextension
wincertstore
wrapt
zipp
